<div class="flex flex-col h-screen max-h-screen">
<.header class="grow-0 shrink text-center m-4">
  <%= @category[:name] %>
</.header>

<div id="entries" phx-update="stream" class="grow min-h-0 flex flex-col flex-wrap items-center">
  <div
    :for={{dom_id, entry} <- @streams.entries}
    id={dom_id}
    class="grow min-h-0 w-full lg:w-1/2"
  >
  <div class="border-slate-700 border-2 rounded-3xl p-4 m-4 ">
    <div class="prose">
      <%= entry.body |> raw() %>
    </div>
    <div class="font-light flex justify-end">
      <span>
        <%= entry.author_id %>
      </span>
      <span class="ml-2">
        <%= entry.sent_at |> NaiveDateTime.truncate(:second) |> NaiveDateTime.to_string() %>
      </span>
    </div>
    </div>
  </div>
</div>
</div>
